
.container{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: white;
}


.box{
	position:absolute;
	width:400px;
	height:400px;
	top:50%;
	margin-top: -200px;
	left:25%;
	margin-left: -200px;
	background-color: white;
	background-image: url('https://images-na.ssl-images-amazon.com/images/I/5179EySQRVL._SY355_.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.box2 {
	position:absolute;
	width:400px;
	height:400px;
	top:50%;
	margin-top: -200px;
	left:75%;
	margin-left: -200px;
	background-color: white;
	background-image: url('https://images-na.ssl-images-amazon.com/images/I/5179EySQRVL._SY355_.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

@media (max-width: 1400px) { 
	.box{
		transform:scale(1.05);
	}
	.box2{
		transform:scale(.95);
	}
}

@media (max-width: 1300px) { 
	.box{
		transform:scale(1.1);
	}
	.box2{
		transform:scale(.9);
	}
}
@media (max-width: 1200px) { 
	.box{
		transform:scale(1.2);
	}
	.box2{
		transform:scale(.8);
	}
}

@media (max-width: 1100px) { 
	.box{
		transform:scale(1.25);
	}
	.box2{
		transform:scale(.75);
	}
}

@media (max-width: 1000px) { 
	.box{
		transform:scale(1.3);
	}
	.box2{
		transform:scale(.7);
	}
}

@media (max-width: 900px) { 
	.box{
		transform:scale(1.35);
	}
	.box2{
		transform:scale(.65);
	}
}

@media (max-width: 800px) { 
	.box{
		transform:scale(1.4);
	}
	.box2{
		transform:scale(.6);
	}
}

@media (max-width: 700px) { 
	.box{
		transform:scale(1.45);
	}
	.box2{
		transform:scale(.55);
	}
}

@media (max-width: 600px) { 
	.box{
		transform:scale(1.5);
	}
	.box2{
		transform:scale(.5);
	}
}

@media (max-width: 500px) { 
	.box{
		transform:scale(1.55);
	}
	.box2{
		transform:scale(.45);
	}
}

@media (max-width: 400px) { 
	.box{
		transform:scale(1.6);
	}
	.box2{
		transform:scale(.4);
	}
}

@media (max-width: 300px) { 
	.box{
		transform:scale(1.65);
	}
	.box2{
		transform:scale(.35);
	}
}

@media (max-width: 200px) { 
	.box{
		transform:scale(1.7);
	}
	.box2{
		transform:scale(.3);
	}
}

@media (max-width: 100px) { 
	.box{
		transform:scale(1.75);
	}
	.box2{
		transform:scale(.25);
	}

/*
@media (max-height: 700px) { 
	.box2{
		transform:rotate(30deg);
	}
	.box{
		transform:rotate(-30deg);
	}
}

@media (max-height: 600px) { 
	.box2{
		transform:rotate(60deg);
	}
	.box{
		transform:rotate(-60deg);
	}
}
@media (max-height: 500px) { 
	.box2{
		transform:rotate(90deg);
	}
	.box{
		transform:rotate(-90deg);
	}
}

@media (max-height: 400px) { 
	.box2{
		transform:rotate(120deg);
	}
	.box{
		transform:rotate(-120deg);
	}
}

@media (max-height: 300px) { 
	.box2{
		transform:rotate(150deg);
	}
	.box{
		transform:rotate(-150deg);
	}
}

@media (max-height: 200px) { 
	.box2{
		transform:rotate(180deg);
	}
	.box{
		transform:rotate(-180deg);
	}
}

@media (max-height: 100px) { 
	.box2{
		transform:rotate(210deg);
	}
	.box{
		transform:rotate(-210deg);
	}
}
*/