
.container{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: black;

}

.box{
	position:absolute;
	width:30%;
	height:30%;
	top:35%;
	left:35%;
	background-color: white;
}



@media (max-width: 1400px) { 
	.box{
		top: 10%;
		left: 10%;
	}
}

@media (max-width: 1375px) { 
	.box{
		top: 10%;
		left: 90%;
	}
}
@media (max-width: 1350px) { 
	.box{
		top: 90%;
		left: 10%;
	}
}

@media (max-width: 1325px) { 
	.box{
		top: 90%;
		left: 90%;
	}
}

@media (max-width: 1300px) { 
	.box{
		top: 10%;
		left: 10%;
	}
}

@media (max-width: 1275px) { 
	.box{
		top: 10%;
		left: 90%;
	}
}

@media (max-width: 1250px) { 
	.box{
		top: 90%;
		left: 10%;
	}
}

@media (max-width: 1225px) { 
	.box{
		top: 90%;
		left: 90%;
	}
}

@media (max-width: 1200px) { 
	.box{
		top: 10%;
		left: 10%;
	}
}

@media (max-width: 1175px) { 
	.box{
		top: 10%;
		left: 90%;
	}
}

@media (max-width: 1150px) { 
	.box{
		top: 90%;
		left: 10%;
	}
}

@media (max-width: 1125px) { 
	.box{
		top: 90%;
		left: 90%;
	}
}

@media (max-width: 1100px) { 
	.box{
		top: 10%;
		left: 10%;
	}
}

@media (max-width: 1075px) { 
	.box{
		top: 10%;
		left: 90%;
	}
}

@media (max-width: 1050px) { 
	.box{
		top: 90%;
		left: 10%;
	}
}


@media (max-width: 1025px) { 
	.box{
		top: 35%;
		left: 35%;
	}
}

@media (max-width: 1000px) { 
	.box{
		width: 40%;
		height: 40%;
	}
}

@media (max-width: 975px) { 
	.box{
		width: 30%;
		height: 30%;
	}
}
@media (max-width: 950px) { 
	.box{
		width: 50%;
		height: 50%;
	}
}

@media (max-width: 925px) { 
	.box{
		width: 30%;
		height: 30%;
	}
}

@media (max-width: 900px) { 
	.box{
		width: 60%;
		height: 60%;
	}
}

@media (max-width: 875px) { 
	.box{
		width: 30%;
		height: 30%;
	}
}

@media (max-width: 850px) { 
	.box{
		width: 70%;
		height: 70%;
	}
}

@media (max-width: 825px) { 
	.box{
		width: 30%;
		height: 30%;
	}
}

@media (max-width: 800px) { 
	.box{
		width: 80%;
		height: 80%;
	}
}

@media (max-width: 775px) { 
	.box{
		width: 30%;
		height: 30%;
	}
}

@media (max-width: 750px) { 
	.box{
		width: 90%;
		height: 90%;
	}
}

@media (max-width: 725px) { 
	.box{
		width: 30%;
		height: 30%;
	}
}

@media (max-width: 700px) { 
	.box{
		width: 20%;
		height: 20%;
	}
}

@media (max-width: 675px) { 
	.box{
		width: 30%;
		height: 30%;
	}
}

@media (max-width: 650px) { 
	.box{
		width: 10%;
		height: 10%;
	}
}
@media (max-width: 625px) { 
	.box{
		width: 30%;
		height: 30%;
	}
}

@media (max-width: 600px) { 
	.box{
		width: 5%;
		height: 5%;
	}
}

@media (max-width: 575px) { 
	.box{
		width: 30%;
		height: 30%;
	}
}

@media (max-width: 550px) { 
	.box{
		width: 0%;
		height: 0%;
	}
}

@media (max-width: 525px) { 
	.box{
		width: 30%;
		height: 30%;
	}
}

@media (max-width: 500px) { 
	.box{
		width: 0%;
		height: 0%;
	}
}
/*
@media (max-width: 475px) { 
	.box{
		top: 10%;
		left: 10%;
	}
}

@media (max-width: 450px) { 
	.box{
		top: 40%;
		left: 40%;
	}
}

@media (max-width: 425px) { 
	.box{
		top: 30%;
		left: 30%;
	}
}

@media (max-width: 400px) { 
	.box{
		top: 0%;
		left: 0%;
	}
}
*/