.container{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: white;
	background-image: url(http://mediad.publicbroadcasting.net/p/vpr/files/styles/x_large/public/201807/albert-bierstadt___s-___domes-of-the-yosemite___-st.-johnsbury-athenaeum-slayton-20190719.jpg);
	background-size: cover;
}


@media (max-width: 1400px) { 
}

@media (max-width: 1200px) { 
	.container {
		background-image: url(https://antdina.files.wordpress.com/2015/03/hockney-pool-2-figures-600.jpg?w=600);
	}
}


@media (max-width: 800px) { 
	.container {
		background-image: url(http://paintingandframe.com/uploadpic/piet_mondrian/big/trafalgar_square.jpg);

	}
}

@media (max-width: 500px) { 
	.container {
		background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/99/Gioconda_%28copia_del_Museo_del_Prado_restaurada%29.jpg);

	}

@media (max-width: 300px) {
	.container {
		background-image: url(https://i.pinimg.com/236x/44/81/a9/4481a9aecb1f3cb4b2781f7c3ca93231--jazz-blues.jpg);
	}
}
/*
@media (max-width: 600px) { 
	.box{
		transform:scale(1.5);
	}
	.box2{
		transform:scale(.5);
	}
}

@media (max-width: 500px) { 
	.box{
		transform:scale(1.55);
	}
	.box2{
		transform:scale(.45);
	}
}

@media (max-width: 400px) { 
	.box{
		transform:scale(1.6);
	}
	.box2{
		transform:scale(.4);
	}
}

@media (max-width: 300px) { 
	.box{
		transform:scale(1.65);
	}
	.box2{
		transform:scale(.35);
	}
}

@media (max-width: 200px) { 
	.box{
		transform:scale(1.7);
	}
	.box2{
		transform:scale(.3);
	}
}

@media (max-width: 100px) { 
	.box{
		transform:scale(1.75);
	}
	.box2{
		transform:scale(.25);
	}



@media (max-height: 700px) { 
	.box2{
		transform:rotate(30deg);
	}
	.box{
		transform:rotate(-30deg);
	}
}

@media (max-height: 600px) { 
	.box2{
		transform:rotate(60deg);
	}
	.box{
		transform:rotate(-60deg);
	}
}
@media (max-height: 500px) { 
	.box2{
		transform:rotate(90deg);
	}
	.box{
		transform:rotate(-90deg);
	}
}

@media (max-height: 400px) { 
	.box2{
		transform:rotate(120deg);
	}
	.box{
		transform:rotate(-120deg);
	}
}

@media (max-height: 300px) { 
	.box2{
		transform:rotate(150deg);
	}
	.box{
		transform:rotate(-150deg);
	}
}

@media (max-height: 200px) { 
	.box2{
		transform:rotate(180deg);
	}
	.box{
		transform:rotate(-180deg);
	}
}

@media (max-height: 100px) { 
	.box2{
		transform:rotate(210deg);
	}
	.box{
		transform:rotate(-210deg);
	}
}
*/