
.container{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: black;
}

.box{
	position:absolute;
	width:30%;
	height:30%;
	top:35%;
	left:35%;
	background-color: white;
	background-image: url('https://allaboutthehouseblog.files.wordpress.com/2014/02/aath-horizontal-stripes-black.jpg');
}

@media (max-width: 1400px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 1375px) { 
	.box{
		border-radius: 50%;
	}
}
@media (max-width: 1350px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 1325px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 1300px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 1275px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 1250px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 1225px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 1200px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 1175px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 1150px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 1125px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 1100px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 1075px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 1050px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 1025px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 1000px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 975px) { 
	.box{
		border-radius: 0;
	}
}
@media (max-width: 950px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 925px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 900px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 875px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 850px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 825px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 800px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 775px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 750px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 725px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 700px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 675px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 650px) { 
	.box{
		border-radius: 50%;
	}
}
@media (max-width: 625px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 600px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 575px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 550px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 525px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 500px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 475px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 450px) { 
	.box{
		border-radius: 50%;
	}
}

@media (max-width: 425px) { 
	.box{
		border-radius: 0;
	}
}

@media (max-width: 400px) { 
	.box{
		border-radius: 50%;
	}
}
